

.flex-content {
    --tamano: 500px;
    width: var(--tamano);
}

.flex-content2 {
    --tamano: 500px;
    width: var(--tamano);
    height: var(--tamano);
}

.flex-item {
    --tamano: 100px;
    width: var(--tamano);
    height: var(--tamano);
}
